apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  namespace: orderflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      labels:
        app: customer
    spec:
      containers:
        - name: customer
          image: ghcr.io/haimazulay/orderflow-customer:v0.1.0
          ports:
            - containerPort: 8001
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8001
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8001
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: customer
  namespace: orderflow
spec:
  selector:
    app: customer
  ports:
    - name: http
      port: 8001
      targetPort: 8001
