apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: orderflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: ghcr.io/haimazulay/orderflow-order:v0.1.0
          ports:
            - containerPort: 8002
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8002
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8002
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: orderflow
spec:
  selector:
    app: order
  ports:
    - name: http
      port: 8002
      targetPort: 8002
