name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  test-python:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service: [ "customer", "order", "api-gateway" ]
    defaults:
      run:
        working-directory: services/${{ matrix.service }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: pytest -q

  test-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: [ test-python, test-frontend ]
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push images (SHA tag)
        shell: bash
        run: |
          OWNER_LC="$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')"
          SHA="${{ github.sha }}"

          docker buildx build --push -t ghcr.io/$OWNER_LC/orderflow-customer:$SHA ./services/customer
          docker buildx build --push -t ghcr.io/$OWNER_LC/orderflow-order:$SHA ./services/order
          docker buildx build --push -t ghcr.io/$OWNER_LC/orderflow-gateway:$SHA ./services/api-gateway
          docker buildx build --push -t ghcr.io/$OWNER_LC/orderflow-frontend:$SHA ./frontend
